.body {
    background-color: rgb(3, 11, 79);
    z-index: 0;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    50.01% {
        transform: translateX(100%);
    }
    90% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

.app {
    display: grid;
    grid-template-rows: 60px 75px fill;
    grid-template-columns: 50% 50%;
}

.banner {
    grid-column: 1;
    grid-row: 1;
    width: 130px;
    height: 40px;
    align-self: start;
    justify-self: start;
    padding: 7px;
    margin: 0px;
    color: lightgreen;
    background-color: midnightblue;
    border-radius: 90%;
}

.bannerSpan {
    color: midnightBlue;
    background-color: lightgreen;
    padding-left: 5px;
    padding-right: 2px;
    border-radius: 15%;
}

.searchBar {
    display: flex;
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    justify-content: left;
    height: 50px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.searchType {
    height: 25px;
    width: 70px;
    align-self: center;
    text-align: center;
    font-weight: 550;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    border-right: 2px solid darkgrey;
    opacity: 85%;
}

.searchType:hover {
    cursor: pointer;
}

.searchBox {
    align-self: center;
    height: 24px;
    width: 50%;
    font-weight: 550;
    padding-top: 0px;
    margin-top: 0px;
    border: none;
    background-color: whitesmoke;
}

.searchBox:focus {
    outline: none;
}

.searchButton {
    align-self: center;
    height: 25px;
    width: 90px;
    text-align: left;
    font-weight: 550;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    border-left: 2px solid darkgray;
    background-color: whitesmoke;
    opacity: 90%;
}

.searchButton:hover {
    cursor: pointer;
}

/*for SearchResults and Playlist*/
.resultsContainer {
    grid-row: 3 / 6;
    grid-column: 1;
    width: 100%;
    height: 610px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-x: visible;
}

.resultsContainer:hover {
    scrollbar-width: thin;
    scrollbar-color: white  rgb(3, 11, 79);
}

.resultCard {
    display: grid;
    height: 64px;
    width: 95.5%;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    grid-template-columns: 69px 75%;
    grid-template-rows: 100%;
    background: midnightblue;
    color: white;

}

.resultCard:hover {
    cursor: pointer;
    border-right: 3px solid lightgreen;
    border-bottom: 2px solid lightgreen;
}

.albumCover {
    grid-column: 1;
    grid-row: 1 / 2;
    border-radius: 7.5%;
    z-index: 1;
}

.cardText {
    display: grid;
    grid-column: 2;
    grid-row: 1 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 45%;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: midnightblue;
}

.songTitle {
    grid-column: 1;
    grid-row: 1;
    display: inline-block;
    margin-top: 0;
    height: 100%;
    width:100%;
    align-content: top;
    font-size: 1.3em;
    font-weight: 475;
    background: midnightblue;
}

.songTitle:hover {
    animation: scroll-left 7s linear infinite;
}

.artistName {
    grid-column: 1;
    grid-row: 2;
    height: 90%;
    width: 100%;
    margin-top: 0px;
    font-size: 1.15em;
    font-weight: 300;
    text-indent: 0.5em;
    align-content: end;
    border-top: 1px solid white;
    background: midnightblue;
}

/*Styling for Playlist*/
.playlist { 
    grid-row: 2 / 7;
    grid-column: 2;
    align-content: flex-start;
    justify-content: start;
}

.playlistContainer {
    grid-row: 2 / 7;
    grid-column: 1;
    width: 100%;
    height: 610px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-x: visible;
}

.playlistContainer:hover {
    scrollbar-width: thin;
    scrollbar-color: white  rgb(3, 11, 79);
}

.playlistCard {
    display: grid;
    height: 64px;
    width: 95.5%;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    grid-template-columns: 69px 75%;
    grid-template-rows: 100%;
    background: midnightblue;
    color: white;

}

.playlistSubmit {
    grid-row: 8;
    grid-column: 2;
    display: flex;
    width: 100%;
    align-self: end;
    justify-content: end;
    height: 50px;
    border-radius: 10px;
}

.playlistText {
    align-self: end;
    text-align: center;
    height: 24px;
    width: 60%;
    font-weight: 550;
    padding-top: 0px;
    margin-top: 0px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: whitesmoke;
}

.playlistText:focus {
    outline: none;
}

.playlistSubmitButton {
    align-self: end;
    height: 25px;
    width: 115px;
    text-align: left;
    font-weight: 550;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    border-left: 2px solid darkgray;
    background-color: whitesmoke;
    opacity: 90%;
}

.playlistSubmitButton:hover {
    cursor: pointer;
}

.playlistSubmitButton:active {
    background-color: lightgreen;
    box-shadow: white;
}